/* THIS IS THE PLACE PAGE */

body{
	background-repeat: repeat;	
	/*background-image: url(../photos/neverending.gif);*/ 
	background-size: 1200px;
	background-position: center; 
	background-attachment: fixed;
	padding-bottom: 100px;
	width: 100%; 
	background-color: #e4e4ff;
} 

.logo{
	background-image: url(../images/logo.png);
	top: 10px;
	left: 100px;
	height: 300px;
	width: 400px;
	position: absolute;
	z-index: 1;
}


.header{
	background-image: url(../images/place_header.gif);
	top: 0px;
	left: 0px;
	height: 1000px;
	width: 1440px;
	position: absolute;
}

.copy{
	background-image: url(../images/place_info.png);
	top: 1000px;
	left: 0px;
	height: 2800px;
	width: 1440px;
	position: absolute;
	z-index: 1;
    
}



